aside {
	//float: left;
	//clear: left;
	display: block;
	position: absolute;
	left: 175px;
	top: 0px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resourceList li:hover {
	cursor: pointer;
}

aside ul li a {
    display: block;
    width: 130px;
	height: 50px;
    background-color: blue;
	color: white;
	padding-left: 5px;
	//padding-top: 5px;
	border: 5px solid rgb(0,89,132);
}

aside ul li a:link {
	text-decoration: none; 
	font-weight: bold; 
	font-size: large; 
}

aside ul li a:hover,  aside ul li a:visited:hover, #favorite:visited:hover{
	background-color: red;
}

aside ul li a:visited {
	background-color: #0687FF;
}

#favorite:visited, #favorite{
	background-color: #F3FF06;
}

header {
	background: rgb(6, 135, 255);
	font-size: 48px;
    text-align: center;
	position: relative;
	left: 135px;
	width: 845px;
}

body {
	max-width: 980px;
	margin: 0 auto;
	font-size: 20px;
}

section {
	position: absolute;
	left: 350px;
	//float: right;
	//padding-right: 20px;
	padding: 10px;
	width: 518px;
	height: 700px;
}

section::after {
	background-image: url("tetrisBack.jpg");
	content: "";
	opacity: 0.2;
	top: 0;
	left: -30px;
	bottom: 0;
	right: 0;
	position: absolute;
	width: 845px;
	z-index: -1; 
}

.extra {
	float: right;
	width: 250px;
	height: 250px;
}

article {
	background: #4DA375;
	padding: 10px;
	width: 550px;
	position: relative;
	left: 20px;
}

#map {
   width: 100%;
   min-height: 300px;
   display: none;
}

/* form */
#resultForm {
   width: 561px;
   margin: 0 auto;
   padding-bottom: 15px;
}

#resultForm fieldset{
   position: relative;
   padding: 5px 30px 70px 30px;
   background: white;
   border-radius: 5px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 25px;
}

#resultForm legend {
	font-weight: bold;
	font-size: 36px;
	font-family: tangerine, cursive;
	position: absolute;
	padding: 10px 0;
}

#resultForm input, #resultForm label, #resultForm select, #resultForm textarea, #resultForm fieldset p, #resultForm div.errorMessage {
	position: relative;
	top: 60px;
	line-height: 1.2em;
}

#resultForm input, #resultForm label {
	display: block;
}

fieldset.checks input {
	float: left;
	clear: left;
	margin-right: 5px;
	margin-left: 5em;
	font-size: 18px;
}

fieldset.checks label {
	float: left;
	line-height: 1.2em;
	margin-bottom: 4px;
}

fieldset.checks span {
	float: left;
	clear: left;
	margin-right: 5px;
	margin-left: 5em;
	font-size: 18px;
	position: relative;
	top: 60px;
	line-height: 1.2em;
	display: block;
}

fieldset.login input {
	font-size: 18px;
	vertical-align: middle;
}

fieldset.login label {
	float: left;
	line-height: 1.2em;
	margin-bottom: 4px;
	display: block;
    padding-right: 10px;
    white-space: nowrap;
}

#resultForm fieldset.login .hideOnCheck  {
	display: none;
}

#resultForm fieldset.login div {
	float: left;
	
}

#buttonContainer {
   display: inline-block;
   float: none;
   text-align: center;
   width: auto;
   width: 100%;
   text-align: center;
}

#resultForm #checkButton {
   margin: 0 auto;
   font-size: 24px;
   top: 15px;
   -webkit-appearance: none;
   display: inline-block;
}

#errorText {
   display: none;
   text-align: center;
   padding: 10px;
   margin: 0 auto;
   margin: 15px 15px 0;
   background: rgb(124,124,136);
   color: white;
   border: 2px solid rgb(190,50,38);
}

#timeSince {
	display: none;
}

#timeSinceError {
	display: none;
}

fieldset div.errorMessage{
   display: none;
   color: red;
   margin-top: 10px;
}

footer {
	display: block;
	width: 845px;
	background-color: gray;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 320px;
}

footer form span {
	height: 20px;
}