ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: blue;
    position: fixed;
    top: 0;
}

li img {
    width: 38px;
    height: 38px;
    display: block;
}

li {
    float: right;
}

li a{
    display: block;
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

li a:hover {
    background-color: lightblue;
    color: black;
}